---
layout: index
title: Home
---

<div id="home">
	<!-- <h1>Project</h1>
		<ul class="project">
			{% for page in site.pages %}
			<li><span>{{ page.title  }}</span> &raquo; <a href="{{ page.url }}">{{ page.title }}</a></li>
			<p>{{ page.excerpt }}</p>
			{% endfor %}
		</ul> -->

		
		<!-- Articles -->
		<!-- <p>
			<h1>Project</h1>
			<ul class="project">
				{% for post in site.categories.project %}
				<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
				<p>{{ post.excerpt }}</p>
				{% endfor %}
			</ul>
		</p>
		<p>
			<h1>Posts</h1>
			<ul class="life">
				{% for post in site.posts %}
				{% if post.categories != project %} 
				<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
				<p>{{ post.excerpt }}</p>
				{% endif %}
				{% endfor %}
			</ul>
		</p> -->

		<!-- Facebook Comment Board -->
		<!-- <p>
			<div class="fb-comments" data-href="http://yuhuamai.com" data-colorscheme="light" data-numposts="5"></div>
		</p> -->
		
	</div>