<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- Overal CSS -->
  <link rel="stylesheet" href="css/universal.css">

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="css/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/main.css">

  <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="css/960.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="css/text.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="css/pygment_trac.css" type="text/css" media="screen, projection" />

  <!-- Parallax Scrolling-->
  <link href="css/ParallaxStyle.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script type="text/javascript" src="scripts/jquery.parallax-1.1.3.js"></script>
  <script type="text/javascript" src="scripts/jquery.localscroll-1.2.7-min.js"></script>
  <script type="text/javascript" src="scripts/jquery.scrollTo-1.4.2-min.js"></script>


  <script type="text/javascript">
    $(document).ready(function(){
      $('#nav').localScroll(800);

  //.parallax(xPosition, speedFactor, outerHeight) options:
  //xPosition - Horizontal position of the element
  //inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
  //outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
  $('#intro').parallax("50%", 0.1);
  $('#second').parallax("50%", 0.1);
  $('.bg').parallax("50%", 0.4);
  $('#third').parallax("50%", 0.1);

})
</script><!-- Parallax Scrolling-->



<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</head>



<body>
  <!-- Make sure header on the top -->
  <div id="header_container" style="z-index:100;"> 
    <div id="header">
      <ul>
        <li class="menu-item"><a href="/">Home</a></li>
        <li class="menu-item"><a href="/resume/index.html">Resume</a></li>
        <li class="menu-item"><a href="/archive/index.html">Archive</a></li>
        <li class="menu-item"><a href="/about/index.html">About</a></li>
      </ul>
    </div>
  </div>

  <!-- Navigation bar on the right -->
  <ul id="nav">
    <li><a href="#intro" title="Next Section"><img src="/asset/images/dot.png" alt="Link" /></a></li>
    <li><a href="#second" title="Next Section"><img src="/asset/images/dot.png" alt="Link" /></a></li>
    <!-- <li><a href="#third" title="Next Section"><img src="/asset/images/dot.png" alt="Link" /></a></li> -->
    <!-- <li><a href="#fifth" title="Next Section"><img src="images/dot.png" alt="Link" /></a></li> -->
  </ul>

  <div id="intro">
    <div class="story">
      <div class="float-left">
        <h1>Project</h1>
        <ul class="post">
          {% for post in site.categories.project %}
          <li>{{ post.date | date_to_string }} &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div> 
  </div> 

  <div id="second">
    <div class="story">
      <!-- <div class="bg"></div> -->
      <div class="float-right">
        <h1>Posts</h1>
        <ul class="post">
          {% for post in site.posts %}
          {% if post.categories != project %} 
          <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div> 
  </div> 

  <!-- <div id="third">
    <div class="story">
      <div class="float-left">
        <h1>Posts</h1>
        <ul class="post">
          {% for post in site.categories.project %}
          <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>  -->



  <div id="footer_container" style="padding:1px;">
    <div id="footer">
      <a href="https://www.facebook.com/myhgew"><img class="contact" src="/asset/main/facebook-3-32.png"></a>
      <span class="tab"></span>
      <a href="https://github.com/myhgew"><img class="contact" src="/asset/main/github-6-32.png"></a>
      <span class="tab"></span>
      <a href="mailto:myhgew@gmail.com"><img class="contact" src="/asset/main/gmail-login-24.png"></a>
    </div>
  </div>

  <!-- ClickTale Bottom part -->
  <div id="ClickTaleDiv" style="display: none;"></div>
  <script type="text/javascript">
    if(document.location.protocol!='https:')
      document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRb.js'%20type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    if(typeof ClickTale=='function') ClickTale(206,0.3,"www03");
  </script>
  <!-- ClickTale end of Bottom part -->

  <!-- Google Analytics -->
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-6016902-1");
    pageTracker._trackPageview();
  </script>
  <!-- Google Analytics end -->
</body>
</html>
