---
layout: default
---
<style type="text/css">
#github {
   background-image: url('../../../../asset/main/github-6-32-red.png');
   height: 32px;
   width: 32px;
}

#github:hover {
   background-image: url('../../../../asset/main/github-6-32.png');
}
</style>


<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
{{ content }}
</div>

<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<!-- {% if page.fb_comments or page.comments %} -->
    <div class="content sub">
      <h2 id="comments">Comments</h2>
      <div class="fb-comments" data-href="http://rsms.me{{ page.url }}" data-num-posts="{{ page.fb_comments }}" data-width="550" data-font="arial"></div>
    </div>
<!-- {% endif %} -->